.human__data-form-block
  form(name="human-form" class="human__form")
    .human__form-item
      label(for="fio" class="human__form-label") Полное ФИО
      input(type="text" placeholder="Калинин Артем Геннадьевич" id="fio" name="fio" class="human__form-inp")
    .human__form-item
      label(for="year" class="human__form-label") Год рождения
      input(type="number" placeholder="1988" id="year" name="year" class="human__form-inp")
    .human__form-item
      label(for="location" class="human__form-label") Место жительства
      input(type="text" placeholder="г. Москва, Россия" id="location" name="location" class="human__form-inp")
    .human__form-item
      label(for="skype" class="human__form-label") Скайп
      input(type="text" placeholder="Artem.Kalinin2503" id="skype" name="skype" class="human__form-inp")
    .human__form-item
      label(for="email" class="human__form-label") Почта
      input(type="email" placeholder="Artem.Kalinin2503@yandex.ru" id="email" name="email" class="human__form-inp")  